fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
boto3
pinecone
insightface
onnxruntime
opencv-python
pillow
numpy
